$dark-orange: #f16718;
$light-orange: #ff9b62;
$dark-grey: #162542;
$medium-grey: #7b8bad;
$light-grey: #e8eff2;

:root, button {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

h1, h2, h3 { color: $dark-grey; text-transform: uppercase; font-weight: 900;}
h1 { font-size: 3rem; line-height: 3rem;}
h2 { font-size: 2rem; line-height: 2.25rem; text-align: center; width: 17ch; margin: 4rem auto 2rem auto; }
h3 { font-size: 1.5rem; line-height: 1.75rem; }
p { color: $medium-grey; line-height: 1.65rem; }

.container {
    padding: 24px;
    margin: 0 auto;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
}

button.btn-main {
    color: #ffffff;
    background-color: $dark-orange;

    &:hover {
        background-color: $light-orange;
    }
}

button.btn-secondary {
    color: $dark-grey;
    background-color: $light-grey;

    &:hover {
        color: $light-grey;
        background-color: $dark-grey;
    }
}

body { margin:0; }

header {
    display: flex;
    place-content: space-between;
    align-items: center;
    margin: 1.5rem;

    img {
        width: 40px; height: 40px;
    }
}


.cta {
    display: flex;
    flex-direction: column;

    .cta__intro {
        margin: 0 1.5rem;
    }

    .cta__footer {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0 4rem 0;

        p {
            margin: 0.7rem 0;
        }
    }

    .cta__image {
        background-image: url(assets/mobile/image-keyboard.jpg);
        height: 20.6rem;
        width: 23.25rem;
        background-size: cover;
        margin-bottom: 1.5rem;
        right: -1.5rem;
        position: relative;
        border-radius: 20px;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;

    .intro__text {
        
        p {
            text-align: center;
            margin: 0 1.5rem;
        }
    }

    .intro__images {
        height: 12.063rem;
        display: flex;
    }

    .intro__image {
        border-radius: 20px;
        background-size: cover;
    }

    .intro__image-left {
        background-image: url(assets/mobile/image-phone-and-keyboard.jpg);
        width: 8.063rem;        
        background-color: $dark-orange;
        background-blend-mode: multiply;
        position: relative;
        left: -1.5rem;
    }

    .intro__image-right {
        background-image: url(assets/mobile/image-glass-and-keyboard.jpg);
        width: 13.75rem;        
    }
}
